<div class="container">
  <div class="card mb-1" *ngFor="let timesheet of timesheets">
    <div class="card-body">
      <h6 class="card-title pb-2" data-toggle="collapse" [attr.data-target]="'#collapseInfo'+timesheet.Id">
        <i *ngIf="timesheet.IsInProgess()" class="fas fa-edit pr-1" style="color:blue"></i>
        <i *ngIf="timesheet.IsComplete()" class="fas fa-check-circle pr-1" style="color:green"></i>
        <i *ngIf="timesheet.IsToDo()" class="fas fa-list-ul pr-1" style="color:orange"></i>
        <span><b>{{timesheet.StartDate | date:'MMMM d'}} to {{timesheet.EndDate | date:'d, yyyy'}}</b></span>
        <span class="badge badge-info badge-outlined float-right"><i class="far fa-clock"></i> {{timesheet.GetTotalHours() | number:'2.2-2'}}</span>
      </h6>
      
      <div class="collapse" [class.show]="timesheet.IsInProgess()" id="collapseInfo{{timesheet.Id}}">
        <div class="container-fluid pb-4">
          <div class="row text-center">
            <div 
              *ngFor="let timesheetDay of timesheet.GetTimesheetWeekDays()"
              class="col p-1 mx-1"
              [class.shadow-min]="timesheetDay.IsToday()"
              style="border: 1px solid lightgray; border-radius: 8px;"
              (click)="EditTimesheetDay(timesheet, timesheetDay)">
              <div>{{timesheetDay.Date | date:'E'}}</div>
              <div><b>{{timesheet.GetTotalHoursForDay(timesheetDay) | number:'1.2-2'}}</b></div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row text-center">
            <div class="col">
              <a class="text-primary" [class.disabled-action]="!timesheet.CanEdit()" (click)="EditTimesheet(timesheet)">
                <div>
                  <i class="far fa-edit"></i>
                </div>
                <div>Edit</div>
              </a>
            </div>
            <div class="col">
              <div class="text-success" [class.disabled-action]="!timesheet.CanSign()">
                <div>
                  <i class="fas fa-check-double"></i>
                </div>
                <div>Sign</div>
              </div>
            </div>
            <div class="col">
              <div class="text-warning" [class.disabled-action]="!timesheet.CanRecall()">
                <div>
                  <i class="fas fa-backward"></i>
                </div>
                <div>Recall</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
