<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <span class="navbar-brand"><b>{{currentRouteName}}</b></span>
  <a><i class="fas fa-bars" style="color:black" data-toggle="collapse" data-target="#navbarToggler"></i></a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" data-toggle="collapse" data-target="#navbarToggler">
        <a class="nav-link" routerLink="/dashboard"><i class="fas fa-calendar-alt"></i> Timesheets</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarToggler">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarToggler">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="fixed-bottom bg-white py-2">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <div class="text-success">
          <div>
            <i class="far fa-clock"></i>
          </div>
          <div>Add Time</div>
          <div>Today</div>
        </div>
      </div>
    </div>
  </div>
</div>
