<div class="container">

  <div class="card mb-1">
      <div class="card-body">
        <h6 class="mb-0">
          <span><b>{{timesheetDay.Date | date:'EEEE, MMMM d, yyyy'}}</b></span>
          <span class="badge badge-info badge-outlined float-right"><i class="far fa-clock"></i> {{timesheet.GetTotalHoursForDay(timesheetDay) | number:'1.2-2'}}</span>
        </h6>
    </div>
  </div>

  <ul class="list-group mb-2">
    <li class="list-group-item" *ngFor="let timesheetItem of timesheet.TimesheetItems">
      <div data-toggle="collapse" [attr.data-target]="'#collapseInfo'+timesheetItem.Id">
        <span>{{timesheetItem.Project.Name}} | {{timesheetItem.Task.Name}}</span>
        <span class="badge badge-info badge-outlined float-right"><i class="far fa-clock"></i> {{timesheet.GetTotalHoursForItemForDay(timesheetItem, timesheetDay) | number:'1.2-2'}}</span>
      </div>
      <div class="collapse" id="collapseInfo{{timesheetItem.Id}}">
        <form>
          <div class="row text-center my-3">
            <div class="col">
              <button type="button" class="btn btn-primary" (click)="SubtractHours(timesheetItem)">Less</button>
            </div>
            <div class="col">
              <input class="form-control text-center" type="text" placeholder="{{timesheet.GetTotalHoursForItemForDay(timesheetItem, timesheetDay)}}">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" (click)="AddHours(timesheetItem)">More</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input class="form-control" type="text" placeholder="{{timesheet.GetCommentForItemForDay(timesheetItem, timesheetDay)}}">
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <div class="text-success" (click)="Save()">
          <div>
            <i class="far fa-save"></i>
          </div>
          <div>Save</div>
        </div>
      </div>
    </div>
  </div>
</div>