/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.shadow {
   box-shadow: 0px 2px 8px grey !important;
}

.shadow-min {
    box-shadow: 0px 1px 4px grey !important;
 }

.topshadow {
    box-shadow: 0px -2px 8px grey;
 }

.btn-sq {
   width: 48px !important;
   height: 48px !important;
   font-size: 10px;
}

.disabled-action {
    color: gray !important;
}

body {
   padding-top: 70px;
   padding-bottom: 70px;
   font-family: 'Montserrat';
}

.todaysquare {
    background-color: #17a2b890;
}

.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
  }

.badge.badge-outlined {
    background-color: transparent
}

.badge.badge-outlined.badge-default {
    border-color: #B0BEC5;
    color: #B0BEC5
}

.badge.badge-outlined.badge-primary {
    border-color: #2196F3;
    color: #2196F3
}

.badge.badge-outlined.badge-secondary {
    border-color: #323a45;
    color: #323a45
}

.badge.badge-outlined.badge-success {
    border-color: #64DD17;
    color: #64DD17
}

.badge.badge-outlined.badge-warning {
    border-color: #FFD600;
    color: #FFD600
}

.badge.badge-outlined.badge-info {
    border-color: #29B6F6;
    color: #29B6F6
}

.badge.badge-outlined.badge-danger {
    border-color: #ef1c1c;
    color: #ef1c1c
}